
.accordion {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 238px min-content;
  grid-template-rows: min-content 1fr;
  padding: 20px 0;
  font-family: $primary-family;
  border-bottom: 1px solid #74819c;

  // max-width: 290px;
  column-gap: 22px;
  row-gap: 20px;
  min-height: 81px;

  &:first-child {
    border-top: 1px solid #74819c;
  }

  @media ($tablet-breakpoint) {
    grid-template-columns: 560px min-content;
  }

  @media ($desktop-breakpoint) {
    grid-template-columns: 660px min-content;
  }
}

.accordion h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;

  @media ($tablet-breakpoint) {
    font-size: 22px;
  }

  @media ($desktop-breakpoint) {
    font-size: 24px;
  }
}

.accordion p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;

  @media ($tablet-breakpoint) {
    font-size: 18px;
    line-height: 133%;
  }
}

.accordion__button {
  align-self: center;
  justify-self: end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid $base-primary;
  background-color: $base-white;
  color: $base-primary;

  @media ($tablet-breakpoint) {
    width: 40px;
    height: 40px;
  }

  &--checked {
    color: $base-white;
    background-color: $primary-lighter;
  }
}

.accordion__button svg {
  @media ($tablet-breakpoint) {
    width: 20px;
    height: 20px;
  }
}

.accordion__button svg:first-of-type {
  display: none;
}


// глянь критерии
.accordion__button--checked svg {
  &:first-of-type {
    display: block;
  }

  &:last-of-type {
    display: none;
  }
}
