.accordion {
  box-sizing: border-box;
  display: grid;

  grid-template-columns: auto min-content;
  grid-template-rows: min-content 0fr;
  justify-content: space-between;

  font-family: $primary-family;

  column-gap: 22px;

  row-gap: 20px;

  padding: 20px 0;
  border-top: 1px solid #74819c;

  transition: grid-template-rows 1000ms, row-gap 1000ms;

  @media ($tablet-breakpoint) {
    row-gap: 10px;
    column-gap: 78px;

    padding: 24px 0 22px;
  }

  @media ($desktop-breakpoint) {
    padding: 23px 0 22px;
    grid-template-columns: 660px min-content;
    row-gap: 23px;
  }
}

.faq__accordion-list {
  @media ($tablet-breakpoint) {
    margin-top: 1px;
  }

  @media ($desktop-breakpoint) {
    margin-top: 0;
  }
}

.accordion:last-child {
  border-bottom: 1px solid #74819c;
}

.accordion h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;

  @media ($tablet-breakpoint) {
    display: flex;
    align-items: center;
    min-height: 40px;
    font-size: 22px;
    align-self: center;
  }

  @media ($desktop-breakpoint) {
    font-size: 24px;
  }
}

.accordion br {
  @media ($tablet-breakpoint) {
    display: none;
  }
}

.accordion p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;

  overflow: hidden;

  opacity: 1;
  transition: opacity 500ms;

  grid-column: 1/2;

  @media ($tablet-breakpoint) {
    font-size: 18px;
    line-height: 133%;
  }
}

.accordion__button {
  align-self: center;
  justify-self: end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid $base-primary;
  background-color: transparent;
  color: $base-primary;

  cursor: pointer;

  @media ($tablet-breakpoint) {
    width: 40px;
    height: 40px;
  }

  &--checked {
    color: $base-white;
    background-color: $primary-lighter;
  }

  &:active,
  &:hover {
    color: $base-white;
    border: 1px solid $primary-lighter;
    background-color: $primary-lighter;
  }

  &:focus-visible {
    outline: none;

    color: $base-white;
    border: 1px solid $primary-lighter;
    background-color: #353f54;

    @media ($tablet-breakpoint) {
      border: 1px solid $primary-lighter;
      background-color: #74819c;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.accordion__button svg {
  &:first-of-type {
    color: $base-white;
    height: 2px;
    display: none;
  }

  &:last-of-type {
    color: inherit;
    display: block;
  }

  @media ($tablet-breakpoint) {
    width: 20px;
    height: 20px;
  }
}


.accordion__button--checked svg {
  &:first-of-type {
    display: block;
  }

  &:last-of-type {
    display: none;
  }
}

.accordion--unhidden {
  grid-template-rows: min-content  1fr;
}

.accordion--unhidden p {
  transition: opacity 1200ms;
  opacity: 1;
}

.accordion--hidden {
  grid-template-rows: min-content 0fr;
  row-gap: 0;
}

.accordion--hidden p {
  opacity: 0;
}
