.faq-buttons {
  display: flex;
  flex-direction: row;


  gap: 10px;
  flex-wrap: wrap;

  // max-width: 290px;

  @media ($tablet-breakpoint) {
    max-width: unset;
  }
}


.faq-buttons__button {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  margin: 0;
  min-width: 140px;

  font-family: $primary-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  color: $base-primary;

  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;

  @media ($tablet-breakpoint) {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

    min-width: 162px;
    padding: 17px 0;
  }

  @media ($desktop-breakpoint) {
    // flex-grow: 1;
    padding: 20px 0 14px;

    // min-height: 54px;
    width: 100%;
  }
}

.faq-buttons__list-item {
  @media ($desktop-breakpoint) {
    flex-grow: 1;

    // width: 100%;
  }
}

.faq-buttons__button--current {
  // градиент смещение, разберись
  // background: linear-gradient(calc(-59deg - 180deg), #d10a42 0%, #00359f 100%);

  min-height: 46px;

  border: none;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  color: $base-white;

  @media ($tablet-breakpoint) {
    min-height: 54px;
  }
}
