.faq {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 70px 15px;
  row-gap: 35px;

  background-color: #f8f9fc;

  @media ($tablet-breakpoint) {
    row-gap: 44px;
    padding: 61px 45px;
  }

  @media ($desktop-breakpoint) {
    box-sizing: border-box;
    padding: 100px 103px;

    column-gap: 40px;
    row-gap: 49px;

    display: grid;
    grid-template-columns: 260px 860px;
    grid-template-rows: repeat(2, min-content);

    justify-content: center;
  }
}

.faq__title {
  @media ($desktop-breakpoint) {
    grid-column: 1/-1;
    max-width: $desktop;
  }
}

.faq__buttons-list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;

  @media ($tablet-breakpoint) {
    margin: 0;
  }

  @media ($desktop-breakpoint) {
    grid-column: 1/2;
    align-self: start;
  }
}

.faq__accordion-list:not(.faq__accordion-list--current) {
  display: none;
}

.faq__accordion-list {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  list-style: none;

  @media ($desktop-breakpoint) {
    grid-column: 2/3;
  }
}
