.faq {
  box-sizing: border-box;
  padding: 70px 15px;

  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.faq__buttons-list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}


.faq__accordion-list:not(:first-child) {
  display: none;
}

.faq__accordion-list {
  margin: 0;
  padding: 0;
  list-style: none;

  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

