.body {
  max-width: 100vw;
  min-width: 320px;

  background-color: $base-white;
}

.body__contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media ($desktop-breakpoint) {
    flex-direction: row;
    justify-content: center;

    background: linear-gradient(to right, $base-primary 50%, $base-white 50%);
  }
}
