.more-link {
  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    padding: 0;
    margin-bottom: 6px;

    border-bottom: none;
    outline: 1px solid currentColor;
    outline-offset: 10px;
    color: $base-white;
  }

  &:active {
    opacity: 1;
    outline: none;
    padding-bottom: 5px;
    margin-bottom: 0;


    // padding-bottom: 5px;
    border-bottom: 1px solid $base-white;
  }
}

.offers-small-card__link.more-link {
  &:focus-visible {
    color: $base-primary;
  }

  &:active {
    opacity: 1;
    border-bottom: 1px solid $primary-lighter;
  }
}

.offers-small-card__link.more-link--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.more-link--disabled {
  pointer-events: none;
  opacity: 0.5;
}
