.form-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 15px;
  row-gap: 36px;

  background-color: $base-primary;
  color: $base-white;

  @media ($tablet-breakpoint) {
    padding: 60px 164px;
    align-items: center;
  }

  @media ($desktop-breakpoint) {
    align-items: unset;
    padding: 60px 103px;
    width: 683px;
  }
}

.form-section__tittle {
  @media ($tablet-breakpoint) {
    font-size: 54px;
  }

  @media ($desktop-breakpoint) {
    text-align: start;
  }
}
