.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 36px;

  color: $base-white;
  background-color: $base-primary;

  @media ($tablet-breakpoint) {
    row-gap: 35px;
  }
}

.form__inputs-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 36px;

  @media ($tablet-breakpoint) {
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
  }
}

.form__input {
  box-sizing: border-box;
  min-height: 27px;

  font-weight: 300;
  font-size: 14px;
  line-height: 157%;

  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #74819c;
  color: $base-white;


  @media ($tablet-breakpoint) {
    width: 50%;
  }

  &:focus {
    outline-offset: -1px;
    outline: 1px solid $base-white;
  }

  &:focus + .form__error-message {
    display: none;
  }

  &:invalid {
    border-bottom: 1px solid $red-lighter;
  }

  &:hover {
    border-bottom: 1px solid $base-white;

    &::placeholder {
      opacity: 1;
      color: $base-white;
    }

    &:placeholder-shown {
      border-bottom: 1px solid $base-white;
    }
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &:placeholder-shown {
    border-bottom: 1px solid #74819c;
  }
}

.form__input::placeholder {
  font-family: $primary-family;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;

  opacity: 0.4;

  @media ($tablet-breakpoint) {
    font-weight: 400;
  }
}

.form__button {
  @media ($tablet-breakpoint) {
    padding: 25px 0;
  }
}

.form__error-message {
  position: absolute;
  top: 28px;

  display: block;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 157%;

  color: $red-lighter;

  @media ($tablet-breakpoint) {
    top: 28px;
    left: 0;
  }


  &:last-child {
    top: 90px;

    @media ($tablet-breakpoint) {
      top: 28px;
      left: unset;
      right: 0;
    }

    @media ($desktop-breakpoint) {
      top: 28px;
      left: 254px;
      right: unset;
    }
  }
}


.form__error-message--hidden {
  display: none;
}
