.form {
  width: 100%;
  color: $base-white;
  background-color: $base-primary;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.form__inputs-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 36px;

  @media ($tablet-breakpoint) {
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
  }
}

.form__input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #74819c;

  @media ($tablet-breakpoint) {
    width: 50%;
  }
}

.form__input::placeholder {
  font-family: $primary-family;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  opacity: 0.4;

  @media ($tablet-breakpoint) {
    font-weight: 400;
  }
}

