.slider-juri {
  @media ($tablet-breakpoint) {
    position: relative;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 701px;

    // width: calc($tablet - 101px + 34px);
  }

  @media ($desktop-breakpoint) {
    width: 1299px;

    // width: calc($desktop - 101px + 34px);
  }
}

.slider-juri__swiper {
  box-sizing: border-box;
  width: $mobile;

  overflow: hidden;

  @media ($tablet-breakpoint) {
    display: flex;
    justify-content: center;
    width: 601px;
  }

  @media ($desktop-breakpoint) {
    width: 1200px;
  }
}

.slider-juri figure {
  position: relative;

  margin: 0;
  padding: 0;
  width: min-content;
  height: min-content;
}

.slider-juri__title {
  position: absolute;
  left: 50%;
  bottom: 25px;

  width: max-content;

  font-weight: 400;
  font-size: 22px;
  line-height: 100%;

  color: $base-white;

  cursor: default;

  transform: translateX(-50%);
}

.slider-juri__slide {
  position: relative;

  display: flex;
  justify-content: center;
  outline: none;
  cursor: pointer;
}


.slider-juri__slide:focus-visible .slider-juri__title {
  display: none;
}

.slider-juri__slide:hover .slider-juri__title {
  @media ($desktop-breakpoint) {
    display: none;
  }
}

.slider-juri__slide:focus-visible .slide-hover {
  position: absolute;
  top: 0;

  display: flex;

  outline: none;
}

.slider-juri__slide:hover .slide-hover {
  @media ($desktop-breakpoint) {
    position: absolute;
    top: 0;

    display: flex;
  }
}

.slider-juri__wrapper {
  margin: 0;
  padding: 0;

  list-style: none;
}

