
.reviews__swiper-buutons-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;

  @media ($tablet-breakpoint) {
    width: 678px + 34px;
  }

  @media ($desktop-breakpoint) {
    width: 768px + 34px;
  }
}

.reviews-slider__slider-container {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews-slider {
  color: $base-white;
  width: 100%;

  overflow: hidden;

  @media ($tablet-breakpoint) {
    width: 500px;
  }

  @media ($desktop-breakpoint) {
    width: 560px;
  }
}


.reviews-slider__slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 240px;
  padding: 30px 25px 27px;
  row-gap: 11px;

  background-color: $primary-lighter;

  @media ($tablet-breakpoint) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);

    align-items: start;
    text-align: start;
    column-gap: 40px;
    row-gap: 20px;

    max-width: 500px;
    padding: 41px 30px 39px;
  }

  @media ($desktop-breakpoint) {
    padding: 60px;
    max-width: 560px;
    column-gap: 30px;
  }
}

.reviews-slider__slide h3 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 111%;

  @media ($tablet-breakpoint) {
    grid-column: 2/3;
    font-size: 22px;
    line-height: 100%;
  }
}

.reviews-slider blockquote {
  margin: 0;
  padding-top: 7px;

  font-weight: 300;
  font-size: 14px;
  line-height: 157%;

  @media ($tablet-breakpoint) {
    padding: 0;
    grid-column: 2/3;
    font-size: 16px;
    line-height: 150%;
  }
}


.reviews-slider__slide picture {
  @media ($tablet-breakpoint) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  order: -1;
}
