.offers-small-card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  align-items: center;
  text-align: center;
  width: $mobile - 30px;

  color: $primary-lighter;
  border-image: linear-gradient(136deg, #d10a42 0%, #00359f 100%) 1;
  border-style: solid;
  border-width: 7px;

  @media ($tablet-breakpoint) {
    width: 324px;
    align-items: start;
    text-align: unset;
    height: unset;
    min-height: 188px;

    row-gap: 10px;
  }

  @media ($desktop-breakpoint) {
    min-height: 174px;

    // min-height: unset;
    height: 100%;
    width: 100%;

    // ПОЧЕМУ?  градиент
    border-image: linear-gradient(107deg, #d10a42 0%, #00359f 100%) 1;
  }
}

.offers-small-card h3 {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 100%;

  @media ($tablet-breakpoint) {
    font-size: 26px;
  }
}

.offers-small-card p {
  margin: 0;
  padding: 0;

  @media ($tablet-breakpoint) {
    font-size: 16px;
    line-height: 150%;
  }
}

.offers-small-card a {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 100%;

  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  border-bottom: 1px solid #353f54;

  @media ($tablet-breakpoint) {
    margin-top: auto;
  }
}
