.header {
  box-sizing: border-box;
  max-width: 1336px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px 18px;

  @media ($tablet-breakpoint) {
    padding: 30px 45px;
  }

  @media ($desktop-breakpoint) {
    align-self: center;
    width: 100%;
    padding: 30px 103px;
  }
}

.header__link {
  font-family: $seccond-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;

  text-decoration: none;
  color: $base-white;
}
