.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px 18px;
  @mefia ()
}

.header__link {
  font-family: $seccond-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;

  text-decoration: none;
  color: $base-white;
}
