.button {
  box-sizing: border-box;

  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $primary-family;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: inherit;
  background-color: transparent;
  border: 2px solid $base-white;


  @media ($tablet-breakpoint) {
    padding: 20px 0;
  }

  @media ($desktop-breakpoint) {
    padding: 25px 0;
  }

  &:hover {
    background-color: $base-white;
    color: $base-secondary;
  }


  &:focus-visible {
    outline: none;
    border-color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    color: $base-secondary;
  }

  &:active {
    background-color: $base-white;
    color: $base-primary;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.button__link-disabled {
  pointer-events: none;
  opacity: 0.5;
}


.button--gradient-bg {
  &:hover {
    border: none;

    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $base-white;
  }

  &:focus-visible {
    outline: none;
    color: $base-white;
    background: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
  }

  &:active {
    border: none;
    color: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.button__link-disabled.button--gradient-bg {
  pointer-events: none;
  opacity: 0.3;
}
