.price {
  position: relative;
  box-sizing: border-box;
  min-width: $mobile;
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  padding: 40px 15px 37px;
  row-gap: 30px;

  background-color: $primary-background;
  z-index: 1;


  overflow: hidden;

  @media ($tablet-breakpoint) {
    padding: 60px 15px 59px;
    row-gap: 36px;
  }

  @media ($desktop-breakpoint) {
    padding: 100px 103px;
    row-gap: 22px;
  }
}

.price::before {
  position: absolute;

  z-index: -1;
  transform: rotate(150deg);

  @media ($tablet-breakpoint) {
    content: "";
    transform: translateX(123px) rotate(150deg);
    bottom: 12px;
    left: 50%;
    display: block;
    width: 275px;
    height: 328px;
    background-image: url("../../../img/price/price-background-tablet@1x.webp");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url(".../../../img/price/price-background-tablet@2x.webp");
    }
  }

  @media ($desktop-breakpoint) {
    content: "";
    transform: translateX(455px) rotate(150deg);
    bottom: 7px;
    left: 50%;
    display: block;
    width: 321px;
    height: 384px;
    background-image: url("../../../img/price/price-background-desktop@1x.webp");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url(".../../../img/price/price-background-desktop@2x.webp");
    }
  }
}


.price__title {
  text-align: center;
}

.price__filter-list,
.price__cards-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  min-width: $mobile - 30px;
}

.price__filter-list {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 0 0 rgba(16, 38, 84, 0.2);

  flex-wrap: wrap;

  @media ($tablet-breakpoint) {
    min-width: $mobile - 10;
  }

  @media ($desktop-breakpoint) {
    min-width: 350px;
  }
}

.price__filter-button {
  padding: 0;
  padding-bottom: 6px;

  font-family: $primary-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $base-primary;

  opacity: 0.5;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media ($tablet-breakpoint) {
    font-weight: 400;
    font-size: 18px;
  }

  @media ($desktop-breakpoint) {
    font-size: 20px;
  }

  &:hover {
    opacity: 1;
    color: rgba(16, 38, 84, 0.7);
    box-shadow: 0 2px 0 0 #787878;
  }

  &:focus-visible {
    opacity: 1;
    outline: none;
    color: $base-primary;
    box-shadow: 0 2px 0 0 $base-primary;
  }

  &:active {
    opacity: 1;
    border: none;
    color: $base-primary;

    box-shadow: 0 2px 0 0 $red-darker;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
    box-shadow: 0 2px 0 0 $base-primary;
  }
}

.price__filter-button-current {
  opacity: 1;

  box-shadow: 0 2px 0 0 $red-darker;

  &:hover {
    box-shadow: 0 2px 0 0 $red-darker;
  }
}

.price__cards-list {
  display: flex;
  row-gap: 30px;
  flex-direction: column;

  @media ($tablet-breakpoint) {
    padding-top: 10px;
    row-gap: 37px;
    min-width: 380px;
  }

  @media ($desktop-breakpoint) {
    padding-top: 20px;
    flex-direction: row;
    column-gap: 40px;
  }
}
