.navigation {
  display: flex;

  @media ($desktop-breakpoint) {
    flex-grow: 1;
    max-width: 600px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  row-gap: 20px;
  column-gap: 35px;

  @media ($tablet-breakpoint) {
    column-gap: 30px;
    width: 100%;
    justify-content: center;
  }

  @media ($desktop-breakpoint) {
    justify-content: space-between;
  }
}


.navigation__link {
  display: block;
  width: min-content;

  font-family: $primary-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;

  color: inherit;
  text-decoration: none;

  @media ($tablet-breakpoint) {
    line-height: 157%;
  }

  &:hover {
    padding-bottom: 5px;
    margin-bottom: -6px;

    border-bottom: 1px solid $base-white;
  }

  &:focus-visible {
    padding: 0;
    margin: 0;

    outline: 1px solid $base-white;
    outline-offset: 5px;
    border: none;
  }

  &:active {
    outline: none;
    border: none;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.navigation__link--disabled {
  pointer-events: none;
  opacity: 0.4;
}
