.games {
  box-sizing: border-box;
  min-width: $mobile;
  padding: 25px 15px;
  margin: 0;

  @media ($tablet-breakpoint) {
    padding: 57px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 100px 45px;
  }
}
